:root {
    --hint-color: #868585;
    --highlight-color: #f9f9f9;
    --app-background: #fff;
    --app-text-color: #212529;;
    --border-color: #dee2e6;
    --primary-color: #0d6efd;
    --primary-color-hover: #0b5ed7;
    --border-radius: 4px;
}

.dark-mode {
    --hint-color: #3993ea;
    --highlight-color: #202B36;
    --app-background: #17212B;
    --app-text-color: #fff;
    --border-color: #0E1621;
}

body {
    background-color: var(--app-background);
    color: var(--app-text-color);
    min-height: 100vh;
    display: flex;
}

button {
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    border: 0;
    &:focus {
        outline:0;
    }
}

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--highlight-color);
    border-right: 1px solid var(--border-color);
    width: 3.5rem;
    user-select: none;
    .logo {
        button {
            border-bottom: 1px solid var(--border-color);
        }
    }
}

.actions-bottom {
    margin-top: auto;
    button {
        border-top: 1px solid var(--border-color);
    }
}

.actions button {
	width: 100%;
    span.tooltip-text {
        margin-left: 30px;
        margin-top: -2px;
    }
}

p, a, a:link, a:hover, a:active, a:visited, a:focus,
.actions button, .actions button:hover, .actions button:active, .actions button:focus {
    color: var(--app-text-color);
    outline: 0;
    box-shadow: none;
    transition: none;
}

a, a:link, a:hover, a:active, a:visited, a:focus,
.offcanvas-footer, .border-top, .border-bottom {
    border-color: var(--border-color) !important;
}

.brand-text {
    display: block;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    font-size: 25px;
    margin: 0;
    padding-top: 1rem;
    justify-self: center;
    line-height: 1;
}

.offcanvas {
    background-color: var(--app-background);
}

.offcanvas {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right .5s ease;
    width: 100%;
    @media screen and (min-width: 380px) {
        width: 380px;
    }
    height: 100vh;
    border-left: 1px solid var(--border-color);
    overflow: auto;
    &.show {
        right: 0;
    }
    .offcanvas-body {
        padding: 1rem 1rem;
    }
    button.close {
        float: right;
        font-size: 24px;
    }
    h1 {
        margin-top: 1.5rem;
        margin-bottom: .8rem;
        font-size: 1.7rem;
        &:first-of-type {
            margin-top: .2rem;
        }
    }
}

.offcanvas.help-panel {
    span.hint {
        color: var(--hint-color);
    }
    span.hint:before {
        content: " = ";
        color: var(--hint-color);
    }
}

.offcanvas.settings-panel {
    form {
        .form-check {
            margin: 2px 0;
        }
    }
    .legal {
        border-top: 1px solid var(--border-color);
        margin-top: 15px;
        padding-top: 10px;
        font-size: 0.8rem;
        span {
            font-weight: bold;
        }
    }

}

.interface {
    flex: 1;
    position: relative;
    overflow: auto;
}

.interface .input, .interface .output, .help-panel .input, .help-panel .output {
    font-family: 'Consolas', 'Menlo', 'Monaco', courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}

.interface .input, .interface .output {
    white-space: pre-wrap;
    word-break: break-word;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: none;
    margin: 0;
}

.interface .input {
    overflow: auto;
    outline: none;
    background: none;
    resize: none;
    padding: 20px;
    color: var(--app-text-color);
    caret-color: var(--app-text-color)
}

.interface .output {
    padding: 20px 0;
}

.interface .output div {
    display: block;
    padding: 0 20px;
}

.interface .output div.highlight {
    background-color: var(--highlight-color);
}

.interface .output .code {
    color: var(--hint-color);
}

.interface .output .code:before {
    content: attr(data-code);
    visibility: hidden;
}

.interface .output .hint:before {
    content: attr(data-prefix);
    color: var(--hint-color);
    white-space: pre;
}

.interface .output .hint {
    z-index: 1;
    position: absolute;
    white-space: pre;
}

.interface .output .result, .interface .output .functype {
    color: var(--hint-color);
}

.interface .output .error {
    color: red;
}

dialog {
    width: auto;
    max-width: 500px;
    padding: 0;
    border: 1px solid var(--border-color);
    background-color: var(--app-background);
    border-radius: var(--border-radius);
    &::backdrop {
        background-color: rgba(0,0,0,0.5);
    }
}

dialog.mobile-warning {
    >button.close {
        position: absolute;
        font-size: 1.5rem;
        right: 0;
    }
    .dialog-content > div {
        p:last-of-type {
            margin-bottom: 0;
        }
        padding: 15px;
    }
    .dialog-header {
        i {
            margin-right: 5px;
        }
        h1 {
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        h2 {
            font-size: 16px;
            margin-bottom: 0;
            font-weight: normal;
        }
    }
    .dialog-body {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
}

button.btn-primary {
    width: 100%;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    margin: 4px;
    padding: 6px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover, &:active, &:focus {
        background-color: var(--primary-color-hover);
        border-color: var(--primary-color-hover);
    }
}

.tooltip {
    cursor: pointer;
    span.tooltip-text {
        width: auto;
        white-space: nowrap;
        background-color: black;
        color: #ffffff;
        line-height: 1;
        font-size: 14px;
        padding: 8px 10px;
        border-radius: var(--border-radius);
        position: absolute;
        z-index: 100;
        opacity: 0;
        transition: opacity .3s;
        &::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }
    }
    &:hover span.tooltip-text {
        opacity: 1;
    }
}
